
<!DOCTYPE html>
<html>
<head>
    <title>Connexion – CyberLogin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" alt="logo">
    <form method="POST">
        <h2>🔐 Connexion sécurisée</h2>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <input type="text" name="username" placeholder="Nom d'utilisateur" required><br>
        <input type="password" name="password" placeholder="Mot de passe" required><br>
        <input type="submit" value="Se connecter">
    </form>
</body>
</html>
